.W_color {
  background: rgb(255,0,0);
  color: rgb(255,255,255);
}
.M_color {
  background: rgb(255,165,0);
  color: rgb(0,0,0);
}
.G_color {
  background: rgb(255,255,0);
  color: rgb(0,0,0);
}
.N_color {
  background: rgb(0,128,0);
  color: rgb(255,255,255);
}

.icon_size {
  width: 25px;
  height: 25px;
}
.Project-Headers {
    color: rgb(230,230,226);
    font-family: "Quicksand";
  }
  
  .Project-Text {
    color: rgb(230,230,226);
    font-family: "Quicksand";
  }
  
.social_media_links {
    max-width: 100%;
    display: inline-block;
    position: fixed;
    bottom: 0;
    right: 0;
  }
  .white_background {
    background-color: rgb(255,255,255);
  }
  
  .dynamic_columns {
    resize: vertical;
    overflow: auto;
  }
  
  .word_fanciness {
    color: rgb(28,52,101);
    fill: rgb(28,52,101);
  }
  
  .text_to_top {
    vertical-align: middle;
  }
  
  .col-centered{
      float: none;
      margin: 0 auto;
  }
  
  .flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .customNumLevelsSlider{
      top: 50px;
      background-color: rgb(247, 205, 122);
  }
  
  .customRemoveGlypicon{
    top: 10px;
    color: rgb(247, 154, 26); 
  }
  
  .customCriteriaSlider{
      top: 10px;
  }
  .rangeslider__fill {
    background-color: rgb(242, 102, 32) !important;
  }
  
  .grey__fill1 {
    background-color: rgb(242, 242, 242);
  }
  